*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bg-color: #000000;
    --btn-radius: 10px;
    --color: #3A68B8;
}

body{
    background-color: var(--bg-color);
}

/* Header */

.nav{
    display: flex;
    justify-content: space-around;
    padding: 39px;
    align-items: center;
}

.logo{
    color: var(--color);
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #FFFFFF;
}

.header_list{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.header_list li:hover{
    transform: scale(1.2);
    transition: 0.3s;
    color: #3A68B8;
}

.btns{
    padding: 15px 30px;
    color: #FFFFFF;
    border: none;
    border-radius: var(--btn-radius);
    background-color: var(--color);
    width: max-content;
    cursor: pointer;
    transition: 0.3s;
}

.btns:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #FFFFFF;
    color: #3A68B8;
}

/* Section1 */

.sctn1{
    width: 100%;
    height: 84vh;
    position: relative;
}

.text_contener{
    padding-top: 120px;
    margin-left: 160px;
}

.tittle{
    color: var(--color);
    margin-bottom: 10px;
}

.text{
    font-size: 55px;
    font-weight: bold;
    width: 604px;
}

.about{
    margin-block: 45px;
}

.btn_card{
    display: flex;
    gap: 20px;
}

.img{
    width: 620px;
    height: 622px;
    position:absolute;
    right: 0;
    bottom: 0px;
}


/* Section2 */

.img_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#272626;
    width: 270px;
    height: 300px;
    border-radius: var(--btn-radius);
}

.imgs{
    width: 70px;
    height: 67px;
}

.card_text{
    font-size: 18px;
    margin-block: 30px;
}

/* Section3 */

.sctn3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 180px;
}

.phone_img{
    width: 600px;
    height: 500px;
}

.text_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

