* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bg-color: #000000;
    --btn-radius: 10px;
    --color: #3A68B8;
}

body {
    background-color: var(--bg-color);
}

/* Header */

.nav {
    display: flex;
    justify-content: space-around;
    padding: 39px;
    align-items: center;
}

.logo {
    color: var(--color);
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
    width: max-content;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: #FFFFFF;
}

.header_list {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.header_list li:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: #3A68B8;
}

.btns {
    padding: 15px 30px;
    color: #FFFFFF;
    border: none;
    border-radius: var(--btn-radius);
    background-color: var(--color);
    width: max-content;
    cursor: pointer;
    transition: 0.3s;
}

.hamburger_btn {
    padding: 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    background-color: var(--color);
    width: max-content;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.btns:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #FFFFFF;
    color: #3A68B8;
}

/* Section1 */

.sctn1 {
    width: 100%;
    height: 84vh;
    position: relative;
}

.text_contener {
    padding-top: 120px;
    margin-left: 160px;
}

.tittle {
    color: var(--color);
    margin-bottom: 10px;
}

.text {
    font-size: 55px;
    font-weight: bold;
    width: 604px;
}

.about {
    margin-block: 45px;
}

.btn_card {
    display: flex;
    gap: 20px;
}

.img {
    width: 620px;
    height: 622px;
    position: absolute;
    right: 0;
    bottom: 0px;
}


/* Section2 */

.img_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272626;
    padding-inline: 12px;
    width: 285px;
    height: 300px;
    border-radius: var(--btn-radius);
}

.imgs {
    width: 70px;
    height: 67px;
}

.card_text {
    font-size: 18px;
    margin-block: 30px;
}

/* Section3 */

.sctn3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 180px;
}

.phone_img {
    width: 600px;
    height: 500px;
}

.text_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 120px;
}

/* Footer */

.footer_contener {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

.ftr_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.f_lorem {
    padding-block: 50px 40px;
}

.ftr_card {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ftr_card li {
    font-size: 14px;
}

.menu {
    font-weight: bold;
}

.icons {
    margin-top: 21px;
    display: flex;
    gap: 25px;
    list-style: none;
}

@media(max-width:360px) {
    .logo {
        font-size: 18px;
    }

    .header_list li {
        display: none;
    }

    .btns {
        padding: 10px 25px;
        font-size: 10px;
        display: none;
    }

    .hamburger_btn {
        display: inline-block;
    }

    .img {
        width: 320px;
        height: 300px;
    }

    .text_contener {
        margin-left: 40px;
        padding-top: 20px;
    }

    .text{
        font-size: 20px;
        width: 280px;
    }

    .text_contener p {
        font-size: 15px;
    }

    .about{
        margin-block: 22px;
    }

    .img{
        bottom: 70px;
    }

    .img2{
        width: 340px;
        padding-left: 10px;
    }

    .apple_text{
        font-size: 20px;
        padding-top: 80px;
    }

    .text_card{
        margin-left: 40px;
    }

    .img_card{
        display: block;
    }

    .about{
        font-size: 23px;
    }

    .text_div{
        padding-left: 35px;
    }

    .tittle3{
        font-size: 23px;
    }

    .text_div p{
        font-size: 15px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sctn3{
        display: block;
        padding-block: 60px;
    }

    .phone_img{
        padding-top: 50px;
        width: 340px;
        height: 340px;
    }

    .footer_contener{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 30px;
        align-items: flex-start;
    }

    .ftr_card{
        gap: 8px;
    }

    .f_lorem{
        font-size: 16px;
    }

    .menu{
        font-size: 22px;
    }
}
